<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PraktikaDB"
    connectionString="Provider=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;User ID=denis;Initial Catalog=Praktikadb;Data Source=DENIS-COMP\SQLEXPRESS"
    providerName="System.Data.OleDb"/>
  </connectionStrings>
  
</configuration>